.game-wrapper {
  background: radial-gradient(
    circle,
    rgba(116, 176, 241, 0.5) 10%,
    rgb(19, 87, 142) 90%
  );
  background-size: cover;
  position: relative;
  display: flex;
  height: 100vh;
  overflow: hidden;
  user-select: none;
}

.game-wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image:
    radial-gradient(white 1px, transparent 1px),
    radial-gradient(white 2px, transparent 2px);
  background-size:
    40px 40px,
    80px 80px;
  opacity: 0.3;
}

.game-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding-right: 250px;
  overflow: hidden;
}

.game-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 90vw;
  max-height: 90vh;
  overflow: hidden;
}

.zoom-container {
  touch-action: none;
}

.sidebar {
  width: 250px;
  z-index: 10;
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
