.stats-component {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
  }
  
  .stats-item {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    font-weight: bold;
  }
  
  
  .stats-icon {
    font-size: 16px;
    color: cyan;
  }
  
  .stats-text {
    font-weight: bold;
  }
  
  .stats-value {
    font-weight: bold;
    color: cyan;
  }
  