.board {
  display: grid;
  gap: 2px;
  padding: 10px;
}

.row {
  display: flex;
}

.cell {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  font-weight: bold;
}

/* Estilização do terreno */
.floor {
  background-color: #ddd;
}

.wall {
  background-color: #333;
}

.destination {
  background-color: #ff0;
}

/* Estilização dos objetos */
.player {
  color: blue;
}

.box {
  color: brown;
}

.box_on_dest {
  color: green;
}
