/* AnimatedObject.css */
.animated-object {
    z-index: 10; /* Garante que fique sobre o tabuleiro */
    pointer-events: none;
    background-size: cover;
  }
  
/* Para o player em animação */
.animated-object.player {
    width: 50px;              /* Cada célula do Board tem 50px */
    height: 50px;
    background: url('/assets/player-sprite.png') no-repeat;
    background-size: 600px 400px; /* Escalamos todo o sprite */
    background-position: -150px -50px;    /* Quadro (0,0) → canto superior esquerdo */
  }  
  
  .animated-object.box {
    background-image: url('/assets/box.png');
  }
  